[Unit]
Description=monitor doorbot
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=ormiret
ExecStart=/usr/bin/env python3 /home/ormiret/doorbot/monitor_doorbot.py

[Install]
WantedBy=multi-user.target
